<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<body class="w3-pale-red">

<!-- Navbar (sit on top) -->

  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
    

<!-- Right-sided navbar links -->
    <<div class="w3-right w3-hide-small">
      <a href="{{url_for('main')}}" class="w3-bar-item w3-button">home</a>
      <a href="{{url_for('find_mood')}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> find my mood </a>
      <a href="{{url_for('mood_music')}}" class="w3-bar-item w3-button"><i class="fa fa-th"></i> mood music</a>
      <a href="{{url_for('articles')}}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> articles</a>
      <a href="{{url_for('game')}}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> game</a>
    </div>
    </div>
    <center>
   <h3>question number 1 :</h3>
<br><h2>
   imagine you’re standing on a footbridge over some trolley tracks. Below you, an out-of-control trolley is bearing down on five unaware individuals standing on the track. Standing next to you is a large man. You realize that the only way to prevent the five people from being killed by the trolley is to push the man off the bridge, into the path of the trolley. His body would stop the trolley, saving the lives of the five people further down the track.
   What would you do? </h2>

   <form id="quiz" name="quiz">
  <input type="radio" name="q1" value="p" checked> <h3><b>push the man to save the others?</b></h3> <br>
  <input type="radio" name="q1" value="n"> <h3><b>stand by and watch five people die, knowing that you could have saved them? </b></h3><br>
 <br>
 <br>
 <br>
  ---------------------------------------------------------------------------------------------------
 <h3> question number 2 :</h3>
 <br>

  <h1>which one do you feel like wearing the most ?</h1>
<table>
<tr>
<td><img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2017/10/26/goods-first-img/1509674162038729271.jpg" style="width:20%"></td>
<td><img src="https://www.jcrew.com/s7-img-facade/H2655_KA2410?$pdp_enlarge$" style="width:20%"></td>
<td><img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2017/09/27/goods-first-img/1513044613511775926.JPG" style="width:20%"></td>
<td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1W2C5y3xXGcsIAS1_UKoFxTk2rH97vZkmBuLea2lz0CMfey6A" style="width:20%"></td>
</tr>
</table>
 
  <input type="radio" name="q2" value="1" checked> 1<br>
  <input type="radio" name="q2" value="2"> 2<br>
<br>
<br>
<br>
-----------------------------------------------------------------------------------------------------
  <h3> question number 3 :</h3>
 <br>
 
  <h1>monday or friday ?</h1>
<center><img src="cat.jpg" ></center>
   
  <input type="radio" name="q3" value="friday" checked>  <b><h3>friday </b></h3><br>
  <input type="radio" name="q3" value="monday"> <b><h3> monday </b></h3><br>
  </form>
  
  <button onclick="result()">see the result</button>

  <div id="po" >
  you've got a happy mood !
  </div>
  <div id="ne" >
  you've got a negative mood !
  </div>
<style>
#po{
        visibility: hidden;
      }
#ne{
        visibility: hidden;
      }
</style>
   

<script type="text/javascript">
function result(){
  var qu1=document.quiz.q1.value;
  var qu2=document.quiz.q2.value;
  var qu3=document.quiz.q3.value;
  var c=0;
  if(qu1=="p")
    {c++;}
  if(qu2=="1")
    {c++;}
  if(qu3=="friday")
    {c++;}
  if(c>1)
    {
      document.getElementById("po").style.visibility="visible";
    }
  else{
    document.getElementById("ne").style.visibility="visible";
  }



}
   
   



    </script>
   
    
    